name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'  
    - name: Debug Environment
      run: |
        python --version
        pip --version
        pip list
        ls -la
        echo "AMS_URL is set: ${AMS_URL:+true}"
        echo "AMS_USERNAME is set: ${AMS_USERNAME:+true}"
        echo "AMS_PASSWORD is set: ${AMS_PASSWORD:+true}"
    - name: Install Dependencies
      run: |
        pip install --no-cache-dir .[test] keyrings.alt
    - name: Run Tests
      run: pytest tests -v --cov=./ --cov-report=xml
      env:
        AMS_URL: ${{ secrets.AMS_URL }}
        AMS_USERNAME: ${{ secrets.AMS_USERNAME }}
        AMS_PASSWORD: ${{ secrets.AMS_PASSWORD }}